$color-header: #555248;
$color-main: #1B1A17;
$color-dark-background: #444240;
$color-ellipse: #FDFDFB;
$color-white: #FFFFFF;
$color-lines: #C4C0B6;
$color-brigth: #D4B098;
$color-favour-count: #E6C8B4;
$color-highligt: #262421;
$color-social: #5C5C50;
$color-more-lines:#8B8371;

$content-width: 1171px;
