@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6rem;
  font-style: normal;
  color: #1B1A17;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.27rem;
  font-style: normal;
  color: #1B1A17;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.42rem;
  font-style: normal;
  color: #1B1A17;
}

h5 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  font-style: normal;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: normal;
  color: #444240;
}

a {
  text-decoration: none;
  color: #1B1A17;
}
a.footer {
  color: #FFFFFF;
}

li {
  list-style: none;
}

.line {
  width: 50px;
  height: 0;
  border: 1px solid #8B8371;
}
.line_more {
  width: 30px;
  margin-right: 15px;
}

.price {
  font-family: "Prata", serif;
  color: #1B1A17;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
}

.button {
  width: 205px;
  height: 64px;
  background-color: #444240;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button_colored {
  background-color: #D4B098;
}

.icon {
  width: 24px;
  height: 23px;
  padding-right: 18px;
  cursor: pointer;
}
.icon_instagram {
  background: url(/images/instagram_icon.svg) no-repeat center;
}
.icon_facebook {
  background: url(/images/facebook_icon.svg) no-repeat center;
}
.icon_twitter {
  background: url(/images/twitter_icon.svg) no-repeat center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_header {
  width: 104px;
}
.logo_footer {
  width: 130px;
  padding-bottom: 23px;
}
@media (max-width: 770px) {
  .logo {
    margin: 0 auto;
  }
  .logo_footer {
    margin: 0;
  }
}

.logo__icon {
  display: block;
  width: 19.2px;
  height: 19.22px;
  background-image: url(/images/logo-ellipse.svg);
  margin-right: 5px;
}
.logo__icon_footer {
  width: 25.2px;
  height: 25.2px;
  background-image: url(/images/Ellipsefooter.svg);
}

.logo__text {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
  letter-spacing: 0.14em;
  color: #555248;
}
.logo__text_footer {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  font-style: normal;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 27%;
}
@media (max-width: 1000px) {
  .layout-3-column {
    flex-direction: column;
    align-items: center;
  }
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 16%;
}
@media (max-width: 770px) {
  .layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-4-column > * {
    flex-basis: 38%;
  }
}

.header {
  background-color: #FDFDFB;
}
.header.open .header__navigation {
  transform: translateX(100%);
}
.header.open .header__burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__wrapper {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0 28px 0;
}

.header__burger {
  display: none;
  position: relative;
  width: 50px;
  height: 30px;
  border: none;
  background-color: #FDFDFB;
  z-index: 2;
  cursor: pointer;
}
.header__burger span {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #555248;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s;
}
.header__burger span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger span:nth-child(3) {
  transform: translateY(10px);
}
@media (max-width: 770px) {
  .header__burger {
    display: block;
    margin-left: 10px;
  }
}

@media (max-width: 770px) {
  .header__navigation {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 80px;
    background-color: #FDFDFB;
    padding: 10px 10px 20px 10px;
    transition: transform 0.5s;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555248;
}
@media (max-width: 770px) {
  .navigation {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
}

.navigation__link {
  margin-right: 65px;
  cursor: pointer;
}
@media (max-width: 770px) {
  .navigation__link {
    display: block;
    padding: 10px 0;
    margin: 0;
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: block;
  margin-right: 23px;
}

.search-icon {
  width: 16px;
  height: 16px;
  background-image: url(/images/search-icon.svg);
}

.favourite {
  position: relative;
}

.favourite-icon {
  width: 21px;
  height: 17px;
  background-image: url(/images/fauvorite-icon.svg);
}

.count-icon {
  position: absolute;
  bottom: 9px;
  left: 15px;
  display: block;
  width: 13px;
  height: 13px;
  background-color: #E6C8B4;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.94rem;
  font-style: normal;
  color: #1B1A17;
  padding: 2px 2px 2px 4px;
}

.cart-icon {
  width: 18px;
  height: 16px;
  background-image: url(/images/cart-icon.svg);
}

.collection {
  background-color: #FDFDFB;
}

.collection__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(/images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 770px) {
  .collection__wrapper {
    background-position: right;
  }
}

.collection__description {
  display: flex;
  flex-direction: column;
  padding: 236px 0 0 0;
}
@media (max-width: 770px) {
  .collection__description {
    padding: 30px 0;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .collection__line {
    display: none;
  }
}

.collection__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 408px;
  padding-bottom: 16px;
}

.title__text {
  padding-left: 15px;
}
@media (max-width: 1171px) {
  .title__text {
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    font-style: normal;
  }
}

.collection__subtitle {
  padding: 0 0 39px 65px;
}

.collection__text {
  max-width: 260px;
  margin: 0 0 42px 65px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.13rem;
  font-style: normal;
  color: #1B1A17;
}

.collection__button {
  margin-left: 64px;
}

.collection__image {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-image: url(/images/watch_main.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 768px;
}
@media (max-width: 1000px) {
  .collection__image {
    width: 400px;
    height: 568px;
    background-position: center;
  }
}
@media (max-width: 770px) {
  .collection__image {
    display: none;
  }
}

.image__description {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}
@media (max-width: 1000px) {
  .image__description {
    display: none;
  }
}

.image__price {
  padding-top: 138px;
}

.image__text {
  font-family: "Prata", serif;
  color: #1B1A17;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}
.image__text_price {
  padding-right: 15px;
}
.image__text_diameter {
  padding-left: 15px;
}

.image__diameter {
  padding-top: 636px;
}

.models__wrapper {
  padding: 50px 0 86px 0;
}
@media (max-width: 1000px) {
  .models__wrapper {
    padding: 30px 0 20px 0;
  }
}

.models__title {
  text-align: center;
  padding-bottom: 52px;
}
@media (max-width: 1000px) {
  .models__title {
    padding-bottom: 20px;
  }
}

.see-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 37px;
}
@media (max-width: 1000px) {
  .see-more {
    padding: 0 20px 20px 0;
  }
}

.see-more__link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  font-style: normal;
  color: #444240;
}

.see-more__line {
  width: 101px;
  color: #C4C0B6;
}

.model {
  background-color: #FDFDFB;
}
@media (max-width: 1000px) {
  .model {
    margin: 15px 0;
  }
}

.model__wrapper {
  padding: 40px 26px 40px 40px;
}
@media (max-width: 1171px) {
  .model__wrapper {
    padding: 10px 7px 10px 10px;
  }
}

.model__title {
  padding-bottom: 10px;
}

.model__price {
  padding-bottom: 2px;
}

.model__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 315px;
  background: linear-gradient(-89.63deg, #E2D0C4 0.3%, rgba(226, 208, 196, 0) 99.67%);
  border-radius: 50%;
  margin-bottom: 19px;
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 313px;
  height: 313px;
  border-radius: 50%;
  background: #FDFDFB;
}

.more__link {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  font-style: normal;
}

.quality {
  background: url(/images/Ellipse\ банер.png) right top no-repeat, url(/images/Ellipse\ банер\ \(1\).png) right bottom no-repeat, url(/images/background.png) no-repeat, #FDFDFB;
}
@media (max-width: 1000px) {
  .quality {
    background: url(/images/Ellipse\ банер.png) right top no-repeat, url(/images/Ellipse\ банер\ \(1\).png) right bottom no-repeat, url(/images/background.png) no-repeat left bottom, #FDFDFB;
  }
}

.quality__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .quality__wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 770px) {
  .quality__wrapper {
    align-items: start;
  }
}

.quality__banner {
  padding-left: 80px;
}
@media (max-width: 770px) {
  .quality__banner {
    padding: 30px 20px;
  }
}

.quality__image {
  padding: 52px 0 20px 0;
}
@media (max-width: 770px) {
  .quality__image {
    max-width: 250px;
    padding: 30px 0;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 63px;
  margin-left: 360px;
  padding-bottom: 20px;
}
@media (max-width: 770px) {
  .slider {
    margin-left: 30px;
  }
}

.arrow-left {
  width: 6px;
  height: 10px;
  background-image: url(/images/arrow_left.svg);
  cursor: pointer;
}

.arrow-right {
  width: 6px;
  height: 10px;
  background-image: url(/images/arrow_right.svg);
  cursor: pointer;
}

.image-number {
  font-family: "Prata", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
}

.quality__content {
  padding-left: 69px;
}
@media (max-width: 1000px) {
  .quality__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 770px) {
  .quality__content {
    margin: 0 auto;
    padding: 0 10px;
  }
}

.quality__title {
  padding-bottom: 38px;
}

.quality__text {
  max-width: 376px;
  padding-bottom: 45px;
}

.social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 81px 0 90px 0;
}
@media (max-width: 1000px) {
  .social__wrapper {
    padding: 40px 0 30px 0;
  }
}
@media (max-width: 1000px) and (max-width: 770px) {
  .social__wrapper {
    padding: 20px 5px 20px 5px;
  }
}

@media (max-width: 770px) {
  .social__content {
    margin: 0 auto;
  }
}

.social__title {
  padding: 120px 0 40px 0;
}
@media (max-width: 770px) {
  .social__title {
    padding: 20px 0;
  }
}

.social__text {
  max-width: 376px;
  line-height: 2.7rem;
  padding-bottom: 119px;
}
.social__text_bold {
  font-weight: 700;
  color: #262421;
}
@media (max-width: 770px) {
  .social__text {
    padding-bottom: 30px;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 93px;
}

.social__collage {
  display: flex;
}
@media (max-width: 770px) {
  .social__collage {
    display: none;
  }
}

.collage__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
@media (max-width: 1000px) {
  .collage__left {
    display: none;
  }
}

.collage__right {
  display: flex;
}

.footer {
  background: #444240;
}

.footer__wrapper {
  padding: 67px 0;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .footer__wrapper {
    padding: 30px 0;
  }
}

.contacts-list > * {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  font-style: normal;
  padding-bottom: 15px;
}

.footer__title {
  padding-bottom: 33px;
}
@media (max-width: 770px) {
  .footer__title {
    padding: 10px 0;
  }
}

.footer__nav {
  padding: 0;
}
.footer__nav > * {
  padding: 0 0 15px 0;
}

.footer__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
