html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
  letter-spacing: 0.14em;
  color: #555248;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6rem;
  font-style: normal;
  color: #1B1A17;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.27rem;
  font-style: normal;
  color: #1B1A17;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.42rem;
  font-style: normal;
  color: #1B1A17;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: normal;
  color: #444240;
}

a {
  text-decoration: none;
  color: #1B1A17;
}

li {
  list-style: none;
}

.line {
  width: 50px;
  height: 0;
  border: 1px solid #8B8371;
}
.line_more {
  width: 30px;
  margin-right: 15px;
}

.price {
  font-family: "Prata", serif;
  color: #1B1A17;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
}

.button {
  width: 205px;
  height: 64px;
  background-color: #444240;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 27%;
}

.header {
  background-color: #FDFDFB;
}

.header__wrapper {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0 28px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 104px;
}

.logo__icon {
  display: block;
  width: 19.2px;
  height: 19.22px;
  background-image: url(/images/logo-ellipse.svg);
  margin-right: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555248;
}

.navigation__link {
  margin-right: 65px;
  cursor: pointer;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: block;
  margin-right: 23px;
}

.search-icon {
  width: 16px;
  height: 16px;
  background-image: url(/images/search-icon.svg);
}

.favourite {
  position: relative;
}

.favourite-icon {
  width: 21px;
  height: 17px;
  background-image: url(/images/fauvorite-icon.svg);
}

.count-icon {
  position: absolute;
  bottom: 9px;
  left: 15px;
  display: block;
  width: 13px;
  height: 13px;
  background-color: #E6C8B4;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.94rem;
  font-style: normal;
  color: #1B1A17;
  padding: 2px 2px 2px 4px;
}

.cart-icon {
  width: 18px;
  height: 16px;
  background-image: url(/images/cart-icon.svg);
}

.collection {
  background-color: #FDFDFB;
}

.collection__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(/images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
}

.collection__description {
  display: flex;
  flex-direction: column;
  padding: 236px 0 0 0;
}

.collection__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 408px;
  padding-bottom: 16px;
}

.title__text {
  padding-left: 15px;
}

.collection__subtitle {
  padding: 0 0 39px 65px;
}

.collection__text {
  max-width: 260px;
  margin: 0 0 42px 65px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.13rem;
  font-style: normal;
  color: #1B1A17;
}

.collection__button {
  margin-left: 64px;
}

.collection__image {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-image: url(/images/watch_main.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 768px;
}

.image__description {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}

.image__price {
  padding-top: 138px;
}

.image__text {
  font-family: "Prata", serif;
  color: #1B1A17;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}
.image__text_price {
  padding-right: 15px;
}
.image__text_diameter {
  padding-left: 15px;
}

.image__diameter {
  padding-top: 636px;
}

.models__wrapper {
  padding: 50px 0 86px 0;
}

.models__title {
  text-align: center;
  padding-bottom: 52px;
}

.see-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 37px;
}

.see-more__link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  font-style: normal;
  color: #444240;
}

.see-more__line {
  width: 101px;
  color: #C4C0B6;
}

.model {
  background-color: #FDFDFB;
}

.model__wrapper {
  padding: 40px 26px 40px 40px;
}

.model__title {
  padding-bottom: 10px;
}

.model__price {
  padding-bottom: 2px;
}

.model__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 315px;
  background: linear-gradient(-89.63deg, #E2D0C4 0.3%, rgba(226, 208, 196, 0) 99.67%);
  border-radius: 50%;
  margin-bottom: 19px;
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 313px;
  height: 313px;
  border-radius: 50%;
  background: #FDFDFB;
}

.more__link {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
