.collection {
  background-color: $color-light-background;
}

.collection__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(/images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  @include media-mobile {
    background-position: right;
  }
}

.collection__description {
  display: flex;
  flex-direction: column;
  padding: 236px 0 0 0;
  @include media-mobile {
    padding: 30px 0;
    margin: 0 auto;
  }
}

.collection__line {
  @include media-mobile {
    display: none;
  }
}

.collection__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 408px;
  padding-bottom: 16px;
}

.title__text {
  padding-left: 15px;
  @include media-laptop {
    @include font(4rem, 400, 5rem);
  }
}

.collection__subtitle {
  padding: 0 0 39px 65px;
}

.collection__text {
  max-width: 260px;
  margin: 0 0 42px 65px;
  @include font(1.4rem, 400, 2.13rem);
  color: $color-main;
}

.collection__button {
  margin-left: 64px;
}

.collection__image {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-image: url(/images/watch_main.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 768px;
  @include media-tablet {
    width: 400px;
    height: 568px;
    background-position: center;
  }
  @include media-mobile {
    display: none;
  }
}

.image__description {
  display: flex;
  align-items: center;
  @include font(1.6rem, 400, 2.2rem);
  @include media-tablet {
    display: none;
  }
}

.image__price {
  padding-top: 138px;
}

.image__text {
  font-family: 'Prata', serif;
  color: $color-main;
  @include font(1.6rem, 400, 2.2rem);
  &_price {
    padding-right: 15px;
  }
  &_diameter {
    padding-left: 15px;
  }
}

.image__diameter {
  padding-top: 636px;
}