.header__wrapper {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0 28px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 104px;
}

.logo__icon {
  display: block;
  width: 19.2px;
  height: 19.22px;
  background-image: url(/images/logo-ellipse.svg);
  margin-right: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-header;
}

.navigation__link {
  margin-right: 65px;
  cursor: pointer;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: block;
  margin-right: 23px;
}

.search-icon {
  width: 16px;
  height: 16px;
  background-image: url(/images/search-icon.svg);
}

.favourite {
  position: relative;
}

.favourite-icon {
  width: 21px;
  height: 17px;
  background-image: url(/images/fauvorite-icon.svg);
}

.count-icon {
  position: absolute;
  bottom: 9px;
  left: 15px;
  display: block;
  width: 13px;
  height: 13px;
  background-color: $color-favour-count;
  border-radius: 50%;
  @include font(0.8rem, 400, 0.94rem);
  color: $color-main;
  padding: 2px 2px 2px 4px;
}

.cart-icon {
  width: 18px;
  height: 16px;
  background-image: url(/images/cart-icon.svg);
}