.quality {
  background: url(/images/Ellipse\ банер.png) right top no-repeat, url(/images/Ellipse\ банер\ \(1\).png) right bottom no-repeat, url(/images/background.png) no-repeat, $color-light-background;
}

.quality__wrapper {
  display: flex;
  align-items: center;
}

.quality__banner {
  padding-left: 80px;
}

.quality__image {
  padding: 52px 0 20px 0;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 63px;
  margin-left: 360px;
  padding-bottom: 20px;
}

.arrow-left {
  width: 6px;
  height: 10px;
  background-image: url(/images/arrow_left.svg);
  cursor: pointer;
}

.arrow-right {
  width: 6px;
  height: 10px;
  background-image: url(/images/arrow_right.svg);
  cursor: pointer;
}

.image-number {
  font-family: 'Prata', serif;
  @include font(1.2rem, 400, 1.6rem);
}

.quality__content {
  padding-left: 69px;
}

.quality__title {
  padding-bottom: 38px;
}

.quality__text {
  max-width: 376px;
  padding-bottom: 45px;
}