.social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 81px 0 90px 0;
  @include media-tablet {
    padding: 40px 0 30px 0;
    @include media-mobile {
      padding: 20px 5px 20px 5px;
    }
  }
}

.social__content {
  @include media-mobile {
    margin: 0 auto;
  }
}

.social__title {
  padding: 120px 0 40px 0;
  @include media-mobile {
    padding: 20px 0;
  }
}

.social__text {
  max-width: 376px;
  line-height: 2.7rem;
  padding-bottom: 119px;
  &_bold {
    font-weight: 700;
    color: $color-highligt;
  }
  @include media-mobile {
    padding-bottom: 30px;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 93px;
}

.social__collage {
  display: flex;
  @include media-mobile {
    display: none;
  }
}

.collage__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  @include media-tablet {
    display: none;
  }
}

.collage__right {
  display: flex;
}
