html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  @include font(1.4rem, 400, 1.6rem);
}

h1 {
  font-family: 'Playfair Display', serif;
  @include font(1.2rem, 400, 1.6rem);
  letter-spacing: 0.14em;
  color: $color-header;
}

h2 {
  font-family: 'Playfair Display', serif;
  @include font(4.5rem, 400, 6rem);
  color: $color-main;
}

h3 {
  font-family: 'Playfair Display', serif;
  @include font(3.2rem, 400, 4.27rem);
  color: $color-main;
}

h4 {
  font-family: 'Playfair Display', serif;
  @include font(1.4rem, 700, 2.42rem);
  color: $color-main;
}

p {
  @include font(1.6rem, 400, 2.4rem);
  color: $color-dark-background;
}

a {
  text-decoration: none;
  color: $color-main;
}

li {
  list-style: none;
}

.line {
  width: 50px;
  height: 0;
  border: 1px solid $color-title-lines;
  &_more {
    width: 30px;
    margin-right: 15px;
  }
}

.price {
  font-family: 'Prata', serif;
  color: $color-main;
  @include font(1.2rem, 400, 1.6rem);
}